{{ $related := (where (.Site.RegularPages.Related .) "Type" "posts") | first 2 }}
  {{ with $related }}
  <ul class="related">
    {{ range . }}
    <li class="related-item">
      <a class="related-item-link" title="{{ .Title }}" href="{{ .RelPermalink }}">
          {{ if .Params.feature_img }}
          {{ $img := .Resources.GetMatch (printf "**%s" .Params.feature_img) }}
          {{ $img := $img.Fill "300x100" }}
          <img
            loading="lazy"
            class="related-item-img"
            src="{{ $img.RelPermalink }}"
            alt="{{ .Description }}"
          >
        {{ end }}
        {{ .Title }}
      </a>
    </li>
    {{ end }}
  </ul>
{{ end }}