.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-300) 0;

  @media(min-width: 500) {
    padding: 0;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);

  @media(min-width: 500px) {
    display: grid;
    gap: var(--space-300);
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    align-items: stretch;
  }
}
