a {
  color: var(--color-neutral-100);
  transition: all 200ms;
  text-decoration: none;
 
  &:hover {
    color: var(--color-accent-500);
    text-decoration: underline;
  }

  &.accent {
    color: var(--color-accent-500);

    &:hover {
      color: var(--color-accent-600);
    }
  }
}

code a {
  color: var(--color-neutral-600);
}
