* {
  box-sizing: border-box;
  line-height: var(--line-height-body);
}

html {
  background: var(--color-neutral-800);
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-f-dmmono);
  font-size: var(--font-s-body);
  color: var(--color-neutral-500);
}

body {
  margin: 0 auto;
  max-width: var(--size-wrapper);
  padding: var(--space-500) var(--space-200);
}

section {
  margin-bottom: var(--space-500);
}
