html,
body {
  font-family:
    var(--font-f-mono-mac),
    var(--font-f-mono-win),
    var(--font-f-mono-win-2),
    var(--font-f-dmmono),
    monospace;
  color: var(--color-neutral-500);
  font-size: var(--font-s-caption);

  @media screen and (min-width: 500px) {
    font-size: var(--font-s-body);
    line-height: var(--line-height-body);
  }
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-weight: var(--font-w-semibold);
  font-family: var(--font-f-helvetica), sans-serif;
  margin-bottom: var(--space-200);
  transform: skewX(-10deg);
  color: var(--color-neutral-100);
}

h1 {
  font-weight: var(--font-w-bold);
  font-size: var(--font-s-h2);
  line-height: var(--line-height-h1);
  margin-bottom: 0;

  @media screen and (min-width: 450px) {
    font-size: var(--font-s-h1);
  }
}

header h2 {
  color: var(--color-neutral-500);
  font-weight: var(--font-w-body);
  font-size: var(--font-s-caption);
}

h2 {
  font-size: var(--font-s-h2);
  line-height: var(--line-height-h2);
}

h3 {
  font-size: var(--font-s-h3);
  line-height: var(--line-height-h3);
}

h4 {
  line-height: var(--line-height-h4);
  font-size: var(--font-s-h4);
}

p {
  text-align: justify;
}

strong {
  color: var(--color-neutral-100);
}

small {
  line-height: var(--line-height-caption);
  font-size: var(--font-s-caption);
}

sup {
  padding-left: 5px;
}

blockquote {
  padding: 0 var(--space-300);
  margin: 0;
  background: var(--color-neutral-800);
  border: 1px solid var(--color-neutral-700);
  margin-bottom: var(--space-200);
  border-left: 4px solid var(--color-accent-600);
}

p code {
  background: var(--color-neutral-800);
  padding: var(--space-50);
  border-radius: 5px;
  font-style: italic;
  border: 1px solid var(--color-neutral-700);
}

.align-center {
  text-align: center;
}
