:root {
  /* Size */
  --size-wrapper: 600px;

  /* Colors: neutral */
  --color-neutral-800: #111215;
  --color-neutral-700: #28292c;
  --color-neutral-600: #404143;
  --color-neutral-500: #a1a1aa;
  --color-neutral-100: #f5f5f7;
  --color-neutral-0: #ffffff;

  /* Colors: accents */
  --color-accent-600: #3f93dd;
  --color-accent-500: #46A4F6;
  --color-accent-400: #58adf6;

  /* Boder Radius */
  --border-r-100: 2px;
  --border-r-200: 4px;

  /* Font Family*/
  --font-f-inter: "Inter", sans-serif;
  --font-f-dmmono: "DM Mono", monospace;

  /* Font Weight */
  --font-w-bold: 700;
  --font-w-semibold: 600;
  --font-w-medium: 500;
  --font-w-regular: 400;

  /* Font Size */
  --font-s-h1: 48px;
  --font-s-h2: 28px;
  --font-s-h3: 24px;
  --font-s-h4: 20px;
  --font-s-body: 16px;
  --font-s-caption: 14px;
  --font-s-xs-caption: 12px;

  /* Line height;*/
  --line-height-h1: 57px;
  --line-height-h2: 36px;
  --line-height-h3: 36px;
  --line-height-h4: 30px;
  --line-height-body: 28px;
  --line-height-caption: 18px;

  /* Spacing */
  --space-25: 2px;
  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 48px;
  --space-600: 64px;
}
