{{ define "layouthead" }}
  {{ $opts := dict "noMap" true "inlineImports" true "use" "cssnano postcss-css-variables" }}
  {{ with resources.Get "css/404.css" | postCSS $opts | minify }}
    <link rel="stylesheet" href="{{ .RelPermalink }}?{{ now.Unix }}">
  {{ end }}
{{ end }}

{{ define "main" }}

<section class="e404">
  <header>
    <h1 class="e404__title">404</h1>
  </header>

  <div class="e404__msg">
    <p>We’ve looked everywhere and can’t find the page you’re looking for.</p>
    <div class="e404__footer">
      <a href="{{ "" | relURL }}">Back to Homepage</a>
    </div>
  </div>
</section>

{{ end }}
