<section id="contact">
  <header>
    <h3>Contact</h3>
  </header>

  {{ with site.Params.Contact }}

  <ul class="contact-list">
    {{ range (sort . "order ")}}
    <li class="contact-list__item">
      <span class="contact-list__item__label">
        {{ .title }}
      </span>
      <a data-unami-event-link="{{ .name }}" data-unami-event="Contact link" href="{{ .link }}"
        class="contact-list__item__link">
        {{ .label }}
      </a>
    </li>
    {{ end }}
  </ul>

  {{ end }}
</section>

{{ partial "scrolltop" }}
