<section id="contact">
  <header>
    <h3>Contact</h3>
  </header>

  <ul class="contact-list">
    <li class="contact-list__item">
      <span class="contact-list__item__label">
        Email
      </span>
      <a href="#" class="contact-list__item__link">
        rogemus@gmail.com
      </a>
    </li>
    <li class="contact-list__item">
      <span class="contact-list__item__label">
        Resume
      </span>
      <a href="https://1drv.ms/b/s!AjQ5YYWM-rh3sZtRjWIkcp-7T39JPA?e=ElTZbd" class="contact-list__item__link">
        @onedrive
      </a>
    </li>
    <li class="contact-list__item">
      <span class="contact-list__item__label">
        Linkedin
      </span>
      <a href="#" class="contact-list__item__link">
       @kacper-rogowski 
      </a>
    </li>
    <li class="contact-list__item">
      <span class="contact-list__item__label">
        Github
      </span>
      <a href="#" class="contact-list__item__link">
        @rogemus
      </a>
    </li>
  </ul>
</section>

{{ partial "scrolltop" }}
