<meta charset="UTF-8">
<meta name="author" content="{{ .Site.Params.Author.name }}" />
<meta name="description" content="{{ .Site.Params.Description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="{{ .Site.Params.keywords }}" />

<title>{{.Site.Title}}</title>
<link rel="icon" type="image/x-icon" href="{{ .Permalink }}favicon.ico">

{{ $opts := dict "noMap" true "inlineImports" true "use" "cssnano postcss-css-variables" }}
{{ with resources.Get "css/styles.css" | postCSS $opts | minify }}
  <style>{{ .Content | safeCSS }}</style>
{{ end }}

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}
{{ template "_internal/opengraph.html" . }}


