{{ with site.Params.Stack }}
<section id="stack">

  <header>
    <h3>Stack</h3>
  </header>

  <ul class="stack no-padding no-style">
    {{ range(sort . "order" ) }}

    <li>
      <a data-umami-event="Stack link" data-umami-event-link="{{ .name }}" href="{{ .link }}" class="text-with-icon no-decoration">

        <span class="box-icon">
          {{ partial .icon }}
        </span>

        <div class="labels-stack">
          <span>
            {{- .title -}}
          </span>
          <span>
            {{- .subtitle -}}
          </span>
        </div>

      </a>
    </li>

    {{ end }}
  </ul>
</section>

{{ end }}
{{ partial "scrolltop" }}
