<section id="stack">
  <header>
    <h3>Stack</h3>
  </header>

  {{ with site.Params.Stack }}
  <ul class="stack">
    {{ range(sort . "order" ) }}
    <li class="stack__item">
      <a data-umami-event="Stack link" data-umami-event-link="{{ .name }}" href="{{ .link }}" class="stack__link">
        <div class="stack__icon">
          {{ partial .icon }}
        </div>
        <div class="stack__labels">
          <span class="stack__title">
            {{ .title }}
          </span>
          <span class="stack__subtitle">
            {{ .subtitle }}
          </span>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</section>

{{ partial "scrolltop" }}
