.e404 {
 position: relative; 
}

.e404__title {
  font-size: 300px;
  line-height: normal;
  margin: 0;
  color: var(--color-neutral-700);
  text-align: center;
}

.e404__msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-neutral-800);
  padding: var(--space-200);
  border: 1px solid var(--color-neutral-700);
  width: 300px;
}

.e404__footer {
  text-align: center;
}

