.contact-list {
  li {
    display: flex;
    margin: var(--space-100) 0;
    flex-direction: column;

    @media screen and (min-width: 500px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &:after {
        order: 2;
        display: block;
        content: '';
        height: 1px;
        width: 100%;
        margin: 0 var(--space-200);
        border-top: 1px dashed var(--color-neutral-600);
        margin-bottom: -1px;
      }
    }
  }

  span,
  a {
    white-space: nowrap;
  }

  span {
    order: 1;
  }

  a {
    order: 3;

    @media screen and (min-width: 500px) {
      &:after {
        content: '>';
        padding-left: var(--space-100);
        font-size: var(--font-s-caption);
      }
    }
  }
}
