<!DOCTYPE html>
<html lang="pl">

<head>
    {{ partial "head.html" . }}

    <style>
        :root {
            color-scheme: light dark;
        }

        iframe {
            color-scheme: light dark;
        }
    </style>
</head>

<body>
    {{ partial "header.html" . }}

    {{ if .IsHome }}
        <h1 class="hidden">{{ .Site.Title }}</h1>
    {{ end }}

    <div class="banner">
        {{ block "banner" . }}{{ end }}
    </div>

    <main class="content">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partialCached "footer.html" . }}
    {{ partialCached "cookieBanner.html" . }}

</body>

</html>