{{ define "banner" }}
  {{ if .Params.feature_img }}
    {{ $img := .Resources.GetMatch (printf "**%s" .Params.feature_img) }}
    {{ $img := $img.Fill "1000x500" }}

    <div class="post-thumbnail">
      <a href="{{ .Permalink }}" title="{{ .Title }}" class="post-thumbnail-link">
        <img
          loading="lazy"
          class="post-thumbnail-img"
          src="{{ $img.RelPermalink }}"
          loading="lazy"
          width="1000"
          height="500"
          alt="{{ .Params.feature_img_caption }}"
        >
      </a>
    </div>
  {{end }}
{{ end }}

{{ define "main" }}
  <div class="post single">

    <h1 class="post-title">
      {{ .Title }}
    </h1>

    <div class="post-meta">
      <time class="post-date">
        {{ .PublishDate.Format "02.01.2006" }}
      </time>
      <div class="post-readtime">
        {{ partial "readTime" . }}
      </div>
    </div>

    <div class="post-content">
      {{ .Content }}
    </div>

    {{ if .Params.tags }}
      <ul class="tags">
        {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
        <li class="tags-tag">
          <a href="{{ $href }}" class="tags-tag-link">{{ . }}</a>
        </li>
        {{ end }}
      </ul>
    {{ end }}

    {{ partial "related" . }}

  </div>

  {{ template "_internal/disqus.html" . }}

  {{ partial "scrollTop" . }}

{{ end }}