<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <main>
    {{ block "main" . }} {{end}}
  </main>

  {{ partial "footer" }}


  <canvas id="ducks"></canvas>
  <div style="display: none;">
    <img id="duck" src="duck.png" alt="yellow rubber duck" height="65" width="80">
  </div>

  {{ $opts := dict "minify" true }}
  {{ with resources.Get "js/ducks.js" | js.Build $opts }}
    <script defer src="{{ .RelPermalink}}"></script>
  {{ end }}

  {{ partial "analytics" }}

</body>

</html>
