<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="logo">
        <a href="/">
          <img id="duck" src="/duck.png" alt="yellow rubber duck" height="65" width="80">
        </a>
      </div>
      {{ block "header" . }} {{end}}
    </header>
    <main>
      {{ block "main" . }} {{end}}
    </main>
    <footer>
      {{ partial "footer" }}
    </footer>
  </div>

  <canvas id="ducks"></canvas>

  {{ $opts := dict "minify" true }}
  {{ with resources.Get "js/ducks.js" | js.Build $opts }}
  <script defer src="{{ .RelPermalink }}"></script>
  {{ end }}

  {{ partial "analytics" }}

</body>

</html>
