{{ define "layouthead" }}
  {{ $opts := dict "noMap" true "inlineImports" true "use" "cssnano postcss-css-variables" }}
  {{ with resources.Get "css/post.css" | postCSS $opts | minify }}
    <link rel="stylesheet" href="{{ .RelPermalink }}?{{ now.Unix }}">
  {{ end }}
{{ end }}


{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <small>
    {{ .PublishDate.Format "02.01.2006" }}
  </small>

  {{ if .Params.tags }}
    <ul class="tags">
      {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
      <li>
        <a href="{{ $href }}">{{ . }}</a>
      </li>
      {{ end }}
    </ul>
  {{ end }}

  {{ if .Params.images }}
    <section>
      {{ $img := .Resources.GetMatch (printf "**%s" .Params.images) }}
      {{ $big := $img.Fit "550x300" }}
      {{ $small := $img.Fit "350x200" }}
      <picture>
        <source srcset={{ $big.RelPermalink }} media="(min-width: 500px)" />
        <img loading="lazy" src="{{ $small.RelPermalink }}" alt="{{ .Title }}">
      </picture>
    </section>
  {{ end }}

  <section>
    {{ .Description }}
  </section>

  <hr />
  <section>
    {{ .TableOfContents }}
  </section>
  <hr />

  <article>
    {{ .Content }}
  </article>
{{ end }}
