.about-me {
  & h1 {
    margin-bottom: 0;
  }

  & h2 {
    color: var(--color-neutral-500);
    font-weight: var(--font-w-body);
    font-size: var(--font-s-caption);
  }
}

.about {
  text-align: justify;
}

.location {
  margin: var(--space-200) 0;
  display: flex;
  align-items: center;
}

.location__icon {
  margin-right: var(--space-100);

  & svg {
    max-height: 16px;
  }
}
