@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "DM Mono";
  src:
    local("DM Mono"),
    url("/fonts/DMMono-Regular.ttf") format("truetype");
  font-weight: 400;
}
