main {
  margin: 0 auto;
  border-radius: var(--border-r-200);
  background: var(--color-white);
  padding: var(--space-200);

  & .about-me,
  & .links {
    width: 100%;
  }

  & .about-me {
    padding-right: var(--space-100);
  }

  @media screen and (min-width: 500px) {
    padding: var(--space-400);
    max-width: var(--size-wrapper);
    display: flex;

    & .about-me {
      max-width: var(--size-left);
      padding-right: var(--space-600);
    }
  }
}
