.stack {
  padding: 0;
  margin-bottom: 0;
  list-style: none;

  @media screen and (min-width: 450px) {
    columns: 2;
  }
}

.stack__item {
  margin-bottom: var(--space-100);
  display: inline-block;
  width: 100%;
}

.stack__link {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: var(--color-neutral-50);
  padding: var(--space-100);
  border-radius: var(--border-r-200);
  transition: all 200ms ease-in-out;

  span {
    display: block;
    line-height: var(--line-height-caption);
  }

  &:hover {
    background: var(--color-neutral-700);
    text-decoration: none;
  }
}

.stack__icon {
  background: var(--color-neutral-50);
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--space-200);
  border-radius: var(--border-r-200);

  & svg {
    height: 100%;
    width: 100%;
    max-width: 24px;
    color: var(--color-neutral-800)
  }
}

.stack__labels {
  display: flex;
  flex-direction: column;
}

.stack__title {
  font-weight: var(--font-w-semibold);
  font-family: var(--font-f-inter);
  line-height: auto;
  margin-bottom: var(--space-50);
  font-size: var(--font-s-caption);
}

.stack__subtitle {
  font-size: var(--font-s-xs-caption);
}
